= simple_form_for @reservation do |f|
  %h2 Reservation For
  = f.select :name, ['New User', 'Mark Betzen', 'Michael Colvin', 'Peter Dewar', 'Shane Egan', 'Barry Golden', 'Chris Groves', 'Robin Hopkins', 'Jason Howard', 'Victoria Mitchell', 'Visiting Attorney', 'Chris Carrie', 'Kemp Sawyers', 'Healthmine', 'Other' ], prompt: "Select One"
  %h2 Select Date
  = f.text_field :published_on, readonly: true, required: true
  %h2 Select Start Time
  = f.datetime_select :start_time, ampm: true, combined: true, minute_interval: 30, time_separator: "", start_hour: 8, start_minute: 00, end_hour: 17, end_minute: 00, required: true
  = f.datetime_select :end_time, ampm: true, combined: true, minute_interval: 30, time_separator: "", start_hour: 8, start_minute: 30, end_hour: 17, end_minute: 00, required: true
  %h2 Reservation Details
  = f.input :description, required: true
  = f.select :content, ['Large', 'Small'], prompt: 'Conference Room Size', required: true
  = f.button :submit, class: "home-btn"
  .back-btn= link_to 'Back', reservations_path
