<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @reservation.start_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reservation.description %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
